/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-left: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #555;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  fon
}